<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Pessoa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>

  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input type="text" name="nome"
     [(ngModel)]="data.nome"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" name="email"
       [(ngModel)]="data.email"></ion-input>
    </ion-item>
  <ion-button expand="full" (click)="cadastrar()">
    Cadastrar
  </ion-button>


</ion-list>
</ion-content>
